<!DOCTYPE html>
<html>
  <head>
    <title>My Chart</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="<%= cssFile %>" />

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
  
  </head>
  <body>
    <% var data= "myChartPage" %>  
    <% include templates/header.ejs %>
    <h2><%= ChartTitle%> </h2>
    
    <p id="data" style="display:none;">
      <%= jsonData %>
    </p>

    <p id="axis" style="display:none;">
      <%= axis %>
    </p>
    
    <div class="GraphClass">
	    <script type="text/javascript" src=" <%= jsFile%> "></script>
    </div>

    <% include templates/footer.ejs %>

  </body>
</html>